<footer class="container px-4 py-8 bg-dark">
  <include src="./views/logo.html"></include>
  <nav class="navbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Inici</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ponents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../">Contacte</a>
      </li>
    </ul>
  </nav>
  &copy; Universitat Oberta de Catalunya
</footer>