<footer class="container-fluid px-4 py-5 bg-dark">
  <div class="d-flex  flex-sm-row flex-column">
    <include src="./views/logo.html"></include>
    <nav class="navbar navbar-expand-sm mx-sm-auto" data-bs-theme="dark">
      <ul class="navbar-nav h4">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Inici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ponents.html">Ponents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contacte.html">Contacte</a>
        </li>
      </ul>
    </nav>
    <div id="xarxes" class="container text-light text-sm-end  mx-sm-auto">
      <i class="fa-solid fa-envelope fs-3"></i>
      <i class="fa-solid fa-share-nodes fs-3 "></i>
      <i class="fa-brands fa-instagram fs-3"></i>
      <i class="fa-brands fa-facebook fs-3"></i>
      <i class="fa-brands fa-google fs-3"></i>
      <i class="fa-brands fa-tiktok fs-3"></i>
    </div>
  </div>
  &copy; Universitat Oberta de Catalunya
</footer>