<header class="container px-2 d-flex">
    <include src="./views/logo.html"></include>
    <nav class="navbar navbar-expand-sm mx-sm-auto" data-bs-theme="light">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav h4">
                    <li class="nav-item">
                        <a class="nav-link" href="./ponents.html">Ponents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacte.html">Contacte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>