<include src="./views/header.html"></include>
<div class="o-cartell container">
    <h1 class="display-1">Foc a terra</h1>
    <h2 class="h2">Primeres Jornades de gastronomia tradicional del Camp de Tarragona</h2>
    <div id="lloc-container" class="position-relative end-0">
        <h3 class="h3">Del 10 al 20 de febrer de 2026</h3>
    </div>
    <img src="./assets/images/fons_portada.png" alt="Calçots al foc">

    <div id="lloc-container">
        Valls
    </div>
    <div id="sponsors-container">
        Valls
    </div>

    <button class="btn btn-primary">Primary button</button>
</div>