.o-baseline{
    color: $valls-principal;
    font-family: $font-family-manual;
    text-shadow: $font-ombrejada;
    font-size: $font-size-gegant;
    line-height: 0;
    
    @media (width < $mqMinWidth) {
        font-size: $font-size-gran;
        line-height: $line-height-normal;
    }
}