.o-cartell{
    max-width: 1200px;
    padding:32px;
    text-align: center;

    img{
        width: 100%;
        border-radius: 24px;
    }

    @supports (display:grid){
        max-width: 100vw;
        padding: 0;
        width:100%;
        display:grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 10vh 10vh 10vh 20vh 20vh 20vh 10vh;
        grid-template-areas:        
        ". a . b b ."
        ". . . . . ."
        ". . . . c c"
        ". . d d . ."
        ". . e e . ."
        ". f . . . ."
        ". . . g g .";     
        #logo{
            grid-area: a;
        }
        nav{
            grid-area: b;
            background-color: rgb($light, 0.5);
        }
        #data-container{
            grid-area: c;
        }
        h1{
            grid-area: d;
            background-color: rgb($dark, 0.8);
            padding-top: 5vh;
        }
        h2{
            grid-area: e;
            color: $light;
            background-color: rgb($dark, 0.8);
        }
        
        #lloc-container{
            grid-area: f;
            background-color: rgb($primary, 0.95);
           
            top:0;
        }
        .c-sponsors{
            grid-area: g;
            background-color: rgb($light, 0.5);
        }
        img{
            grid-column: 1 / 7;
            grid-row: 1 / 8;
            height:100%;
            width:100%;
            object-fit:cover;
            object-position: center;
            z-index: -1000;
            border-radius: 64px;
        }

    }

}