.o-cartell{
    max-width: 1200px;
    padding:32px;
    text-align: center;

    img{
        width: 100%;
        border-radius: 24px;
    }

    @supports (display:grid){

    }


    img{

    }
}