.o-targeta{
    flex: 1;
    border: 1px solid $valls-clar;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -7px 7px 5px #0000001a;
    width: 295px;
    color: $text-negre;

    figure{
        margin: 0;
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    figcaption{
        background-color: $fons-translucid;
        position:relative;
        top: -35px;
        text-align: right;
        font-size: $font-size-petita;
        display: inline;
        right:0;
        color:$text-negre;
    }

    @media (width < $mqMinWidth) {
        max-width: 100%;
        width:100%;
        margin:0;
    }
}



