aside{
    position: fixed;
    top:20px;
    left:20px;
    zoom:0.5;
    z-index: 100;

    ul{
        flex-direction: column;
    }

    @media (width < $mqMinWidth) {
        width: 100%;
        background-color: $valls-principal;
        top: unset;
        left:unset;
        bottom: 0px;
        padding: 20px;
    }
}