body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-normal;
  line-height: $line-height-normal;
  background-color: $fons-clar;
  color: $text-negre;
}