header{
    background-image: url(../images/ac.jpg);
    background-size: cover;
    background-position: center;    
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-color: $fons-fosc;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (width < $mqMinWidth) {
        min-height: 100vh;
        background-size:cover;
        background-position: top;    
    }
}