h1{
    font-size: $font-size-gegant;
    font-weight: $font-weight-pesat;
    line-height: 0;
    color:$valls-blanc;
    font-family: $font-especial;
    text-shadow: $font-ombrejada;
    margin:0;

    @media (width < $mqMinWidth) {
        font-size: $font-size-extra;
        line-height: $line-height-normal;
    }
}

h2{
    font-size: $font-size-extra;
    font-weight: $font-weight-pesat;
    color: $text-destacat;
    font-family: $font-especial;
}

h3{
    font-size: $font-size-gran;
    font-weight: $font-weight-normal;
    color: $valls-principal;
    font-family: $font-especial;
}

h4{
    font-size: $font-size-gran;
    font-weight: $font-weight-pesat;
    color: $valls-principal;
}